* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 3vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #111;
  color: #eee;
}
h1,
h4 {
  color: #fff;
}

a {
  color: #00b7ff;
}

#credits {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #credits {
    flex-direction: column;
    gap: 0.2rem;
  }
}
